USE [master]
GO
/****** Object:  Database [qlBanHang]    Script Date: 8/10/2023 9:48:09 PM ******/
CREATE DATABASE [qlBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\qlBanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qlBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\qlBanHang_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlBanHang]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id_account] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nchar](20) NOT NULL,
	[MatKhau] [nchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SoDienThoai] [nchar](20) NULL,
	[Email] [nchar](20) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[GioiTinh] [int] NULL,
	[NgayTao] [date] NULL,
	[role] [int] NOT NULL,
	[SoLanMuaHang] [int] NULL,
	[SoLanHuyHang] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id_account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[id_cauhinh] [int] IDENTITY(1,1) NOT NULL,
	[ManHinh] [nvarchar](50) NULL,
	[DoPhanGiai] [nvarchar](50) NULL,
	[CongNgheManHinh] [nvarchar](50) NULL,
	[RAM] [nvarchar](50) NULL,
	[BoNho] [nvarchar](50) NULL,
	[ChatLieu] [nvarchar](50) NULL,
	[KichThuoc] [nvarchar](50) NULL,
	[TrongLuong] [nvarchar](50) NULL,
	[Camera] [nvarchar](200) NULL,
	[Pin] [nvarchar](200) NULL,
	[CPU] [nvarchar](200) NULL,
	[HinhAnh_CPU] [nchar](20) NULL,
	[HinhAnh_RAM] [nchar](20) NULL,
	[HinhAnh_Camera] [nchar](20) NULL,
	[HinhAnh_Pin] [nchar](20) NULL,
	[NoiDung_CPU] [nvarchar](1000) NULL,
	[NoiDung_RAM] [nvarchar](1000) NULL,
	[NoiDung_Camera] [nvarchar](1000) NULL,
	[NoiDung_Pin] [nvarchar](1000) NULL,
	[Chip] [nvarchar](50) NULL,
	[id_sanpham] [int] NOT NULL,
 CONSTRAINT [PK_CauHinh] PRIMARY KEY CLUSTERED 
(
	[id_cauhinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id_comment] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](100) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[id_sanpham] [int] NOT NULL,
	[id_account] [int] NOT NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id_comment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[id_DonHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Email] [nchar](20) NULL,
	[SoDienThoai] [nchar](20) NOT NULL,
	[id_magiamgia] [int] NULL,
	[id_account] [int] NOT NULL,
	[TongTien] [float] NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[id_DonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiamGia]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamGia](
	[id_magiamgia] [int] IDENTITY(1,1) NOT NULL,
	[code] [nchar](20) NULL,
	[SoTienGiam] [float] NULL,
	[SoLanNhap] [int] NULL,
	[SoLanDaNhap] [int] NULL,
	[NgayHetHan] [date] NULL,
	[DonHangToiThieu] [float] NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_GiamGia] PRIMARY KEY CLUSTERED 
(
	[id_magiamgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[id_giohang] [int] IDENTITY(1,1) NOT NULL,
	[id_sanpham] [int] NULL,
	[id_account] [int] NULL,
	[id_donhang] [int] NULL,
	[DonGiaBan] [money] NULL,
	[SoLuongBan] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[id_giohang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[id_loaisanpham] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[id_loaisanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[id_nhacungcap] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nchar](20) NOT NULL,
	[NgayTao] [date] NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[id_nhacungcap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoi]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoi](
	[id_phanhoi] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
	[id_comment] [int] NOT NULL,
	[id_account] [int] NOT NULL,
	[NgayPhanHoi] [date] NULL,
 CONSTRAINT [PK_PhanHoi] PRIMARY KEY CLUSTERED 
(
	[id_phanhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[id_sanpham] [int] IDENTITY(1,1) NOT NULL,
	[LoaiSanPham] [int] NOT NULL,
	[TenSanPham] [nvarchar](200) NOT NULL,
	[Avatar] [nchar](20) NOT NULL,
	[MoTa] [nvarchar](2000) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[Gia] [float] NOT NULL,
	[GiaBan] [float] NOT NULL,
	[GiaGiam] [float] NOT NULL,
	[NgayTao] [date] NOT NULL,
	[NhaCungCap] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[DoHot] [int] NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[id_sanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 8/10/2023 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[id_tintuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](500) NULL,
	[NoiDung] [text] NULL,
	[HinhAnh] [nchar](20) NULL,
	[NgayTao] [date] NULL,
	[GioiThieu] [nvarchar](1000) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[id_tintuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id_account], [TaiKhoan], [MatKhau], [HoTen], [SoDienThoai], [Email], [DiaChi], [GioiTinh], [NgayTao], [role], [SoLanMuaHang], [SoLanHuyHang], [TrangThai]) VALUES (1, N'test                ', N'testmatkhau         ', N'Nguyễn Văn Trúc', N'039399393           ', N'sshyshs@gmail.com   ', N'Hà Nam', 1, CAST(N'2023-07-22' AS Date), 0, 0, 0, 1)
INSERT [dbo].[Account] ([id_account], [TaiKhoan], [MatKhau], [HoTen], [SoDienThoai], [Email], [DiaChi], [GioiTinh], [NgayTao], [role], [SoLanMuaHang], [SoLanHuyHang], [TrangThai]) VALUES (2, N'admin               ', N'admin123            ', N'Trúc Văn', N'0999999999          ', N'trucvan@gmail.com   ', N'Hà Nội', 1, CAST(N'2023-05-22' AS Date), 1, NULL, NULL, 1)
INSERT [dbo].[Account] ([id_account], [TaiKhoan], [MatKhau], [HoTen], [SoDienThoai], [Email], [DiaChi], [GioiTinh], [NgayTao], [role], [SoLanMuaHang], [SoLanHuyHang], [TrangThai]) VALUES (3, N'test1               ', N'testmatkhau         ', N'Trúc Văn Nguyễn', N'0999992289          ', N'trucpro@gmail.com   ', N'Hà Nam', 1, CAST(N'2023-07-24' AS Date), 0, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHinh] ON 

GO
SET IDENTITY_INSERT [dbo].[CauHinh] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([id_comment], [NoiDung], [NgayTao], [id_sanpham], [id_account], [TrangThai]) VALUES (1, N'alo alo 1234', CAST(N'2023-07-23' AS Date), 2, 1, 1)
INSERT [dbo].[Comment] ([id_comment], [NoiDung], [NgayTao], [id_sanpham], [id_account], [TrangThai]) VALUES (2, N'Lại là mình đây
', CAST(N'2023-07-23' AS Date), 2, 1, 0)
INSERT [dbo].[Comment] ([id_comment], [NoiDung], [NgayTao], [id_sanpham], [id_account], [TrangThai]) VALUES (3, N'Còn hàng không shop?
', CAST(N'2023-07-23' AS Date), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([id_DonHang], [TenKhachHang], [DiaChi], [Email], [SoDienThoai], [id_magiamgia], [id_account], [TongTien], [NgayTao], [TrangThai]) VALUES (12, N'a', N'a', N'a                   ', N'a                   ', NULL, 3, 222222, CAST(N'2023-02-02' AS Date), 0)
INSERT [dbo].[DonHang] ([id_DonHang], [TenKhachHang], [DiaChi], [Email], [SoDienThoai], [id_magiamgia], [id_account], [TongTien], [NgayTao], [TrangThai]) VALUES (13, N'z', N'alo alo alo', N'trucpro@gmail.com   ', N'0999999999          ', NULL, 3, 27950000, CAST(N'2023-07-28' AS Date), 1)
INSERT [dbo].[DonHang] ([id_DonHang], [TenKhachHang], [DiaChi], [Email], [SoDienThoai], [id_magiamgia], [id_account], [TongTien], [NgayTao], [TrangThai]) VALUES (14, N'Nguyễn Văn Trúc', N'Thanh Tuyen Phu Ly', N'trucpro@gmail.com   ', N'0363718242          ', NULL, 3, 13949700, CAST(N'2023-07-28' AS Date), 3)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GiamGia] ON 

INSERT [dbo].[GiamGia] ([id_magiamgia], [code], [SoTienGiam], [SoLanNhap], [SoLanDaNhap], [NgayHetHan], [DonHangToiThieu], [NgayTao], [TrangThai]) VALUES (11, N'a                   ', 300000, 21, 21, CAST(N'2023-07-27' AS Date), 500, CAST(N'2023-07-26' AS Date), 0)
SET IDENTITY_INSERT [dbo].[GiamGia] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([id_giohang], [id_sanpham], [id_account], [id_donhang], [DonGiaBan], [SoLuongBan], [TrangThai]) VALUES (22, 36, 1, 17, 17450000.0000, 7, 0)
INSERT [dbo].[GioHang] ([id_giohang], [id_sanpham], [id_account], [id_donhang], [DonGiaBan], [SoLuongBan], [TrangThai]) VALUES (23, 1, 1, 17, 7450000.0000, 2, 0)
INSERT [dbo].[GioHang] ([id_giohang], [id_sanpham], [id_account], [id_donhang], [DonGiaBan], [SoLuongBan], [TrangThai]) VALUES (24, 98, 1, 17, 20500000.0000, 1, 0)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSP] ON 

INSERT [dbo].[LoaiSP] ([id_loaisanpham], [TenLoai]) VALUES (1, N'Điện thoại')
INSERT [dbo].[LoaiSP] ([id_loaisanpham], [TenLoai]) VALUES (2, N'Máy tính')
INSERT [dbo].[LoaiSP] ([id_loaisanpham], [TenLoai]) VALUES (3, N'Phụ kiện')
SET IDENTITY_INSERT [dbo].[LoaiSP] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([id_nhacungcap], [TenNhaCungCap], [DiaChi], [SoDienThoai], [NgayTao]) VALUES (1, N'd', N'd', N'd                   ', CAST(N'2023-07-12' AS Date))
INSERT [dbo].[NhaCungCap] ([id_nhacungcap], [TenNhaCungCap], [DiaChi], [SoDienThoai], [NgayTao]) VALUES (2, N'a', N'a', N'b                   ', CAST(N'2023-07-12' AS Date))
INSERT [dbo].[NhaCungCap] ([id_nhacungcap], [TenNhaCungCap], [DiaChi], [SoDienThoai], [NgayTao]) VALUES (3, N'c', N'c', N'c                   ', CAST(N'2023-06-11' AS Date))
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanHoi] ON 

INSERT [dbo].[PhanHoi] ([id_phanhoi], [NoiDung], [id_comment], [id_account], [NgayPhanHoi]) VALUES (1, N'test', 1, 1, CAST(N'2023-07-22' AS Date))
INSERT [dbo].[PhanHoi] ([id_phanhoi], [NoiDung], [id_comment], [id_account], [NgayPhanHoi]) VALUES (2, N'test 2', 1, 1, CAST(N'2023-07-23' AS Date))
INSERT [dbo].[PhanHoi] ([id_phanhoi], [NoiDung], [id_comment], [id_account], [NgayPhanHoi]) VALUES (3, N'Oke bạn', 2, 1, CAST(N'2023-07-24' AS Date))
SET IDENTITY_INSERT [dbo].[PhanHoi] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

INSERT [dbo].[TinTuc] ([id_tintuc], [TieuDe], [NoiDung], [HinhAnh], [NgayTao], [GioiThieu], [TrangThai]) VALUES (2, N'b', N'<h1>Nguyhhhhhhh</h1>', N'banner2.png         ', CAST(N'2023-07-13' AS Date), N'Điện thoại thông minh hay smartphone là khái niệm để chỉ các loại thiết bị di động kết hợp điện thoại di động các chức năng điện toán di động vào một thiết bị.', 1)
INSERT [dbo].[TinTuc] ([id_tintuc], [TieuDe], [NoiDung], [HinhAnh], [NgayTao], [GioiThieu], [TrangThai]) VALUES (11, N'test', N'Van Trúc', N'banner1.png         ', CAST(N'2022-02-02' AS Date), N'Điện thoại thông minh hay smartphone là khái niệm để chỉ các loại thiết bị di động kết hợp điện thoại di động các chức năng điện toán di động vào một thiết bị.', 1)
INSERT [dbo].[TinTuc] ([id_tintuc], [TieuDe], [NoiDung], [HinhAnh], [NgayTao], [GioiThieu], [TrangThai]) VALUES (12, N'test', N'Van Trúc', N'banner1.png         ', CAST(N'2022-02-02' AS Date), N'Điện thoại thông minh hay smartphone là khái niệm để chỉ các loại thiết bị di động kết hợp điện thoại di động các chức năng điện toán di động vào một thiết bị.', 1)
SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
ALTER TABLE [dbo].[CauHinh]  WITH CHECK ADD  CONSTRAINT [FK_CauHinh_SanPham] FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[SanPham] ([id_sanpham])
GO
ALTER TABLE [dbo].[CauHinh] CHECK CONSTRAINT [FK_CauHinh_SanPham]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Account] FOREIGN KEY([id_account])
REFERENCES [dbo].[Account] ([id_account])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Account]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_SanPham] FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[SanPham] ([id_sanpham])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_SanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_Account] FOREIGN KEY([id_account])
REFERENCES [dbo].[Account] ([id_account])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_Account]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_GiamGia] FOREIGN KEY([id_magiamgia])
REFERENCES [dbo].[GiamGia] ([id_magiamgia])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_GiamGia]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_Account] FOREIGN KEY([id_account])
REFERENCES [dbo].[Account] ([id_account])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_Account]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_DonHang] FOREIGN KEY([id_donhang])
REFERENCES [dbo].[DonHang] ([id_DonHang])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_DonHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[SanPham] ([id_sanpham])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_Account] FOREIGN KEY([id_account])
REFERENCES [dbo].[Account] ([id_account])
GO
ALTER TABLE [dbo].[PhanHoi] CHECK CONSTRAINT [FK_PhanHoi_Account]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_Comment] FOREIGN KEY([id_comment])
REFERENCES [dbo].[Comment] ([id_comment])
GO
ALTER TABLE [dbo].[PhanHoi] CHECK CONSTRAINT [FK_PhanHoi_Comment]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP] FOREIGN KEY([LoaiSanPham])
REFERENCES [dbo].[LoaiSP] ([id_loaisanpham])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([NhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([id_nhacungcap])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
USE [master]
GO
