
@{
    ViewBag.Title = "Thông tin về chúng tôi";
}

<div class="container" style="min-height: 80vh">
    <div>
        <a href="/Home/Index"> Trang chủ </a> / <a href="/Info/Index"> Giới thiệu công ty </a>
    </div>
    <h4 class="my-4">Giới thiệu về SWeet Lemon</h4>
    <h5>Giới thiệu chung</h5>
    <ul>
        <ol><h6>Năm 1996:</h6> Thành lập cửa hàng SWeet Lemon đầu tiên tọa lạc trên con phố sầm uất của Thủ đô Hà Nội ở địa chỉ 194 Lê Duẩn.</ol>
        <ol><h6>Năm 2000: SWeet Lemon chính thức trở thành nhà phân phối ĐTDĐ chính hãng hợp tác với nhiều nhãn hàng lớn hàng đầu như Samsung, OPPO, Nokia, Huawei,...</h6></ol>
        <ol><h6>Năm 2006:</h6> Với kinh nghiệm 10 năm trong lĩnh vực bán lẻ, SWeet Lemon phát triển mạnh mẽ và liên tục mở thêm nhiều chi nhánh mới.</ol>
        <ol><h6>Năm 2016</h6> Kỉ niệm 20 năm hoạt động trong lĩnh vực bán lẻ các sản phẩm công nghệ, SWeet Lemon đã khẳng định được chỗ đứng vững chắc trên thị trường cũng như trong tiềm thức người tiêu dùng.</ol>
        <ol><h6>Năm 2019</h6> SWeet Lemon chính thức hợp tác với ông lớn ngành viễn thông MobiFone Việt Nam mở chuỗi chi nhánh bán hàng liên kết, nâng tổng số chi nhánh tới hơn 60, đồng thời phủ khắp 30 tỉnh thành trên cả nước. Kể từ đó, SWeet Lemon liên tục đồng hành cùng MobiFone tổ chức các sự kiện lớn nhỏ. </ol>
        <ol><h6>Năm 2020</h6> SWeet Lemon tự hào trở thành nhà bán lẻ ủy quyền chính thức của Apple tại Việt Nam. Các sản phẩm Apple chính hãng VN/A do Apple Việt Nam phân phối được bán tại hệ thống SWeet Lemon với mức giá tốt nhất thị trường cùng chế độ bảo hành uy tín. </ol>
    </ul>
    <h5>Tôn chỉ hoạt động </h5>
    <p>SWeet Lemon luôn hoạt động dựa trên tôn chỉ đặt khách hàng là trung tâm, mọi nỗ lực để đạt được mục tiêu cao nhất là làm hài lòng người dùng thông qua các sản phẩm được cung cấp và dịch vụ khách hàng. SWeet Lemon đang từng bước xây dựng dịch vụ khách hàng vượt trội, xứng đáng là đơn vị bán lẻ hàng đầu tại Việt Nam. Sự tin tưởng và ủng hộ nhiệt tình của quý khách hàng tại chuỗi chi nhánh đã phần nào khẳng định hiệu quả hoạt động của đội ngũ nhân viên SWeet Lemon. </p>
    <p>Đối với quý khách hàng, chúng tôi luôn đặt cái tâm làm gốc, làm việc với tinh thần nghiêm túc, trung thực và có trách nhiệm, để mang tới trải nghiệm dịch vụ tốt nhất. </p>
    <p>Đối với đồng nghiệp, chúng tôi đề cao văn hóa học hỏi, đoàn kết, tương trợ lẫn nhau tạo nên môi trường làm việc tôn trọng - công bằng - văn minh cho nhân viên trong công ty. </p>
    <p>Đối với các đối tác, SWeet Lemon luôn làm việc dựa trên nguyên tắc tôn trọng, cùng tạo ra giá trị cho cộng đồng và cùng phát triển bền vững. </p>
    <h5>Tầm nhìn và sứ mệnh</h5>
    <p>Những năm qua, chúng tôi không ngừng cải thiện dịch vụ tại các chi nhánh và hỗ trợ khách hàng qua các kênh online. SWeet Lemon cam kết mang đến những sản phẩm chất lượng và chế độ bảo hành uy tín, sẵn sàng hỗ trợ khách hàng trong thời gian nhanh nhất.</p>
    <p>Trong tương lai, SWeet Lemon sẽ tiếp tục mở rộng hệ thống chi nhánh, hướng tới mục tiêu có mặt tại 63 tỉnh thành trên toàn quốc. Đồng thời, nâng cao chất lượng dịch vụ, hạn chế những rủi ro, lắng nghe và tiếp thu góp ý của quý khách hàng nhằm đem đến trải nghiệm tốt nhất khi mua sắm tại SWeet Lemon. </p>
    <p>Cuối cùng, SWeet Lemon hy vọng sẽ trở thành nhà tiên phong đưa những sản phẩm công nghệ mới nhất đến tay người dùng sớm nhất, tạo ra cuộc sống hiện đại nơi công nghệ kết nối con người, công nghệ phục vụ con người.</p>
</div>
<div>
    <textarea class="form-control" id="inputNoiDung" name="NoiDung"></textarea>
</div>
@section scripts{
    <script>
        CKEDITOR.replace('inputNoiDung')
    </script>
    }
